@import "./partials/variables.scss";
@import "~bootstrap/scss/bootstrap.scss";

.central-container{
    width: 70%;
    min-width: 1000px;
    height: 100%;
    padding: 0 .4rem;
    margin: 0 auto;
}
.my-text-color{
    color:$TextColor
}

.my-light-text-color{
    color:$LightTextColor;
}

.my-bg-green{
    background-color: $greenColor;
}

.my-button{
    text-transform: uppercase;
    color: white;
    padding: .5rem 1rem;
    border-radius: .3rem;
    font-weight: bold;
}

.my-bg-lightgreen{
    background-color: $lightGreenBg;
}

.my-dark-bg{
    background-color: $DarkBg;
}

.my-light-dark-bg{
    background-color: $LightDargBG;
}

.my-bottom-footer-bg{
    background-color: $BottomFooterColor;
}

.my-border-green{
    border: 1px solid $greenColor;
}

.my-text-green{
    color:$greenColor
}

.my-text{
    font-size: .8rem;
}

.rounded-card{
    border-radius: 10px
}